/* RESET das configuraçoes do NAVEGADOR */ 

 /* é esse atesteristico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

body{
    background-color: rgb(73, 65, 80);
                    /* comando url() */
    background-image: url(assets/pngtree-free-hd-wallpaper-4k-new-background-picture-image_15546678.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* receber a mesma fonte que seja aplicada no corpo da pagina coloca a font family no body */
    font-family: comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Gigi';
} 
p{
    text-align: justify;
    font-size: 15px;
    margin: 20px 20px;

} 
a{
    display: block;
    text-align: center;
    text-decoration: none;
}
img{
    display: block;
    max-width: 300px;
    margin: 10px auto;
}
button{
    display: block;
    margin: 20px auto;
    /* comand:auto, e dois px numa variavel */
    cursor: pointer;
    padding: 5px 30px ; 
    border-radius: 30px;
}